<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <form method="POST">
    {%csrf_token%}
    <div class="form-group">
      <label >Title</label>
      <input type="text" name = "title" class="form-control"placeholder="titile">
    </div>
   
    </div>
    <div class="form-group">
      <label >Description</label>
      <textarea class="form-control" name = "description"></textarea>
    </div>
    <div>
      <label for="">Select end time of this task</label>
      <input type="time" name = "endtime" value = "{{current_time}}">
      <button type="submit"> add task</button>
    </div>

  </form>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">End time</th>
          </tr>
        </thead>
        <tbody>
          {%csrf_token%}
          <tr>
            {%for task in tasks%}
            <th scope="row">{{forloop.counter}}</th>
            <td> {{task.task_title}}</td>
            <td>{{task.task_description}}</td>
            <td>{{task.endtime}}</td>
            <td>
              <a href=""><button>edit</button></a>
            </td>
            <td>
              <a href="{%url 'remove_task' task.id %}"><button>remove</button></a>
            </td>
          </tr>
            {%endfor%}
        </tbody>
      </table>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
</body>
</html>